<div class="page_size">

<h1>集計APP</h1>
<hr>

<%= form_tag(url_for(:action => 'calc') ) do %>
 <% @str.size.times do |i| %>
  <h3> <%= @str[i][0] %> </h3>
  <% (@str[i].size-1).times do |j| %>
   <% if @val[i] == "0" %>
     <input type="text" name=<%= @name[i] %> size="12" value="">  <%= @str[i][j+1] %> <br />
   <% else %>
    <% if j != 0 %>
     <br />
    <% end %>
     <%= @str[i][j+1] %><br />
     <textarea name=<%= @name[i] %> cols="50" rows="5">特に無し</textarea> <br />
   <% end %>
  <% end %>
  <hr>
 <% end %>

 <button class="square_btn" input type="submit">提出</button>
 <p>提出には一分以上かかる場合もあります。画面が切り替わるまで気長に待ってください</p>
<% end %>

</div>
