<!DOCTYPE html>
<!-- ðŸ˜º ã™ã£ã”ãƒ¼ã„ï¼å›ã¯ã‚½ãƒ¼ã‚¹ã‚³ãƒ¼ãƒ‰ã‚’è¦‹ã‚‹ãƒ•ãƒ¬ãƒ³ã‚ºãªã‚“ã ã­ï¼ -->
<html>
  <head>
    <title>SyukeiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
